<h1>华山医院教学管理系统</h1>
<p class="marketing-byline">请点击以下链接，进入相应模块的管理界面</p>
<div class="row-fluid">
  <div style="width:20%;">
    <h2><a href="/exam/undergraduate">考试管理</a></h2>

    <p>一些介绍行的话啦</p>
  </div>
  <div style="width:20%;">
    <h2><a href="/question/standard">题库管理</a></h2>

    <p>一些介绍行的话啦</p>
  </div>
  <div style="width:20%;">
    <h2><a href="/course/undergraduate/curriculum">课程管理</a></h2>

    <p>一些介绍行的话啦</p>
  </div>
  <div style="width:20%;">
    <h2><a href="/edu/discuss">日常教学管理</a></h2>

    <p>一些介绍行的话啦</p>
  </div>
  <div style="width:20%;">
    <h2><a href="/communication/host">对外交流管理</a></h2>

    <p>一些介绍行的话啦</p>
  </div>
</div>
