<nav class="navbar navbar-default">
  <div class="header">
    <a class="logo col-sm-8" href="/" title="医学实验室教学信息管理系统"></a>
    <!--
    <div class="user_info col-sm-4">
      欢迎您，
              <span title="{{ user_name }}">
                <a href="/account/info/{{ user_id }}">{{ user_name }}</a>
              </span>&nbsp;&nbsp;
      <a href="/account/logout">退出</a>
    </div>
    -->
  </div>
</nav>

<nav class="navbar navbar-default" role="navigation">
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-left">
      <li aria-module="exam">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">考试管理<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/exam/undergraduate">本科生</a></li>
          <li><a href="/exam/graduate">研究生</a></li>
          <li><a href="/exam/continuing">继续教育</a></li>
          <li><a href="/exam/doctor">医生考核</a></li>
        </ul>
      </li>
      <li aria-module="question">
        <a href="" ng-href="" class="dropdown-toggle" data-toggle="dropdown">题库管理<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a ng-href="/#/question/standard">标准题库</a></li>
          <li><a ng-href="/#/question/standard/paper">标准试卷</a></li>
          <li><a ng-href="/#/question/general">普通题库</a></li>
          <li><a ng-href="/#/question/general/paper">普通试卷</a></li>
        </ul>
      </li>
      <li aria-module="course">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">课程管理<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/course/undergraduate/curriculum">本科生</a></li>
          <li><a href="/course/graduate/curriculum">研究生</a></li>
          <li><a href="/course/continuing/class">继续教育</a></li>
        </ul>
      </li>
      <li aria-module="edu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">日常教学管理<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/edu/discuss">疑难病例讨论</a></li>
          <li><a href="/edu/business">科室业务学习</a></li>
          <li><a href="/edu/clinic">临床教学任务</a></li>
          <li><a href="/edu/schedule">轮转医生统计</a></li>
        </ul>
      </li>
      <li aria-module="communication">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">对外交流管理<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/communication/host">主办协办会议</a></li>
          <li><a href="/communication/academic">学术交流</a></li>
          <li><a href="/communication/out">外出进修</a></li>
          <li><a href="/communication/in">来所进修</a></li>
          <li><a href="/communication/expert">专家来所交流</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li aria-module="account" class="pull-right">
        <a href="/account/signout" class="pull-right">退出登录</a>
      </li>
    </ul>
  </div>
</nav>
<!-- todo
<ol class="breadcrumb">
  <li>您的位置</li>
  {{# linkList }}
  <li><a href="{{ path }}">{{ pathName }}</a></li>
  {{/ linkList }}
</ol>
-->