html, body {
    height: 100%;
}

body {
    font: normal 12px "Microsoft YaHei";
    background-color: #f8f8f8;
}

.header {
    height: 80px;
    padding: 0 20px;
    /*background-color: #4a8bc2;*/
    background: url(/images/header-bg.png) repeat-x;
}

/*logo*/
.logo {
    display: block;
    width: 700px;
    height: 80px;
    float: left;
    background: url(/images/banner.png) no-repeat;
    /*background: url(/img/banner-trans.png) no-repeat;*/
}

/*用户信息*/
.user_info {
    height: 80px;
    text-align: left;
    float: right;
    width: 200px;
    font: bold 12px/80px "Microsoft Yahei";
    color: #ffffff;
}

.user_info a {
    color: #ffffff;
}

.container.top {
    padding: 0;
}

/*导航栏*/
.navbar {
    margin: 0;
    min-height: 30px;
    border-radius: 0;
    font: bold 12px/30px "Microsoft Yahei";
    border: none;
}

.collapse.navbar-collapse.navbar-ex1-collapse {
    border: 1px solid #e7e7e7;
}

.navbar-nav > li {
    border-left: 1px solid #E7E7E7;
    border-right: 1px solid #E7E7E7;
}

.navbar-nav > li:not(:first-child) {
    margin-left: -1px;
}

.navbar-nav > li > a {
    padding: 5px 15px;
}

.navbar-nav .caret {
    color: orange;
}

/*面包屑导航条*/
.breadcrumb {
    margin: 2px 0;
    padding: 0;
    background-color: #f8f8f8;
    font: bold 12px/30px "Microsoft Yahei";
}

/*底栏*/
footer {
    height: 90px;
    clear: both;
    padding: 20px 15px;
}

/*底部分割线*/
footer > hr {
    border-color: #DDDDDD;
    margin: 10px 0 20px;
}

footer .row p {
    margin: 0;
}

.wrap {
    min-height: 100%;
}

.main {
    overflow: auto;
    padding-bottom: 110px;
}

.wrap > .alert {
    display: none;
}

.add-btn {
    margin: 10px 0;
}

.data-list thead tr th {
    background-color: #EEEEEE;
}

/*表格自动添加行号*/
.data-list tbody {
    counter-reset: sque;
}

.data-list > tbody > tr > td {
    padding: 3px 3px 3px 8px;
    line-height: 26px;
}

/*序号列定宽*/
.data-list th.seq-cell {
    width: 64px;
}

/*最后一列（一般为操作列）定宽*/
.data-list th:last-child {
    width: 90px;
}

/*含复选框列的表格，第一列（复选框列）定宽*/
.data-list.ckb th:first-child {
    width: 30px;
}

/*含复选框列的表格，最后一列不为操作列，取消定宽*/
.data-list.ckb th:last-child {
    width: auto;
}

/*考试页面的表格，操作图标较多，单独定宽*/
.data-list.exam th:last-child {
    width: 240px;
}

table th .checkbox, table td .checkbox {
    margin: 0;
}

/*分页工具
.pagination{
    margin: 0;
    display: block;
}
.pagination td span{
    background-color: #f7f7f9;
}
/*跳转到某页的输入框
.pagination .page_goto{
    width: 50px;
}
*/

.pagination {
    margin: 0;
}

/*模态对话框*/
.modal-dialog .modal-footer {
    margin: 0;
}

/*输入框组中的附加部分*/
.modal-dialog .input-group-addon {
    padding-left: 8px;
    padding-right: 8px;
}

/*禁用文本域的resize*/
textarea.form-control {
    resize: none;
}

/*表格中的按钮组*/
td > .btn-group {
    margin-bottom: 0;
}

/*表格中的按钮*/
td a.btn {
    padding: 6px;
    font-size: 12px;
    width: auto;
    line-height: 12px;
}

.button-link {
    margin-top: -11px;
    margin-bottom: -8px;
}

/*文件上传按钮*/
.fileinput-button span {
    overflow: hidden;
    display: inline-block;
    position: relative;
}

/*进度条*/
.progress {
    margin: 5px 0 0 0;
    background-color: #EEEEEE;
}

/*列表组*/
.list-group {
    margin-bottom: 0;
}

.list-group:not(.online) .list-group-item {
    padding: 5px;
    border-top: none;
    border-bottom: none;
    margin-bottom: -5px;
}

.list-group:not(.online) .list-group-item:first-child {
    border-top: 1px solid #DDDDDD;
}

.list-group:not(.online) .list-group-item:last-child {
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 0;
}

/*重新定义panel部分样式*/
.panel-default {
    margin-bottom: 0;
    min-height: 24px;
    line-height: 24px;
}

/*添加题目时，选择题和判断题的答题选项*/
.panel .radio-inline:first-child, .panel .checkbox-inline:first-child {
    margin-left: 10px;
}

/*添加题库，选择题选项列表*/
.answer-list input[type="checkbox"] {
    vertical-align: text-bottom;
    margin-top: 5px;
}

.panel:not(.answer-list) label {
    padding: 0;
}

/*在线考试试题区*/
.online-panel > div.form-group {
    margin: 10px 0;
    padding: 0 15px;
}

/*倒计*/
.count-down-span {
    font-size: 16px;
}

/*在线考试，提交按钮*/
.online-panel .online + p {
    margin: 10px 0;
}

.online-choice {
    padding: 50px 0;
}

.online-choice > .row > div {
    padding: 10px 0;
}

.online-choice > .row > div > input {
    margin-left: 30px;
}

.online-page {
}

/* write by soiitaire blew */

#score {
    color: #3276b1;
}

/* Fix for Bootstrap 3 with Angular UI Bootstrap */
.modal {
    display: block;
}

/* Custom dialog/modal headers */
.dialog-header-error {
    background-color: #d2322d;
}

.dialog-header-wait {
    background-color: #428bca;
}

.dialog-header-notify {
    background-color: #eeeeee;
}

.dialog-header-confirm {
    background-color: #333333;
}

.dialog-header-error span, .dialog-header-error h4,
.dialog-header-wait span, .dialog-header-wait h4,
.dialog-header-confirm span, .dialog-header-confirm h4 {
    color: #ffffff;
}

/* Ease Display */
.pad {
    padding: 25px;
}