<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h5 class="modal-title">新建{{ paperTypeName }}</h5>
</div>
<div class="modal-body">
  <!-- todo api
  <form class="form-horizontal" role="form" method="post" action="/question/{{ paperType }}/paper/add">
  -->
  <div class="form-horizontal">
    <div class="form-group">
      <label for="input-name" class="col-sm-2 control-label">试卷名称</label>

      <div class="col-sm-10">
        <input type="text" class="form-control" id="input-name" ng-model="items.name">
      </div>
    </div>

    <div class="form-group">
      <label for="input-username" class="col-sm-2 control-label">编订人</label>

      <div class="col-sm-10">
        <input type="text" class="form-control" id="input-username" ng-model="items.username">
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">保存</button>
  <button class="btn btn-default" ng-click="cancel()">取消</button>
</div>
