<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h5 class="modal-title">添加{{ setTypeName }}</h5>
</div>
<div class="modal-body">
  <!-- todo
  <form class="form-horizontal" id="add-or-edit-question-set" role="form" method="post"
        action="/question/{{ setType }}/add">
        -->
  <div class="form-horizontal">
    <!--todo
    <input type="text" hidden="hidden" class="input-type" name="type" value="{{ setType }}"/>
    -->
    <div class="form-group">
      <label for="input-name" class="col-sm-2 control-label">题库名称</label>

      <div class="col-sm-10">
        <input type="text" class="form-control" id="input-name" ng-model="items.name">
      </div>
    </div>

    <div class="form-group">
      <label for="select-type" class="col-sm-2 control-label">题目类型</label>

      <div class="col-sm-10">
        <select class="form-control" id="select-type" ng-model="items.type" ng-options="type | translate for type in types"></select>
      </div>
    </div>

    <div class="form-group">
      <label for="input-username" class="col-sm-2 control-label">编订人</label>

      <div class="col-sm-10">
        <input type="text" class="form-control" id="input-username" ng-model="items.username">
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">保存</button>
  <button class="btn btn-default" ng-click="cancel()">取消</button>
</div>
