<div class="btn-group add-btn">
  <button class="btn btn-primary btn-sm" ng-click="add()">添加{{ paperTypeName | translate }}试卷</button>
</div>
<table class="table table-bordered data-list">
  <thead>
  <tr>
    <th data-sorter="false" class="seq-cell">序号</th>
    <th>试卷名称</th>
    <th>编订人</th>
    <th>题目数量</th>
    <th>更新日期</th>
    <th data-sorter="false" class="col-md-3g">操作</th>
  </tr>
  </thead>
  <tbody ng-repeat="(index, paper) in paperList">
  <tr>
    <td class="seq-cell">{{ index + 1 }}</td>
    <td>{{ paper.name }}</td>
    <td>{{ paper.username }}</td>
    <td>{{ paper.count }}</td>
    <td>{{ paper.udate }}</td>
    <td class="col-md-3">
      <div class="btn-group">
        <!-- todo modal 编辑该条的信息
        <a title="编辑试卷信息" class="btn btn-default" data-toggle="modal" data-keyborad="false"
           data-remote="false" data-target=".modal" href="/question/{{ paper.type }}/paper/add/{{ paper.id }}">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        -->
        <a title="编辑题目" class="btn btn-default" ng-click="edit(paper.id)">
          <i class="glyphicon glyphicon-pencil"></i>
        </a>
        <!-- todo 问下帝老师有用么
        <a title="导出试卷" class="btn btn-default glyphicon glyphicon-log-out"
           href="/question/{{ paper.type }}/paper/export/{{ paper.id }}">
        </a>
        -->
        <a title="删除" class="btn btn-default" ng-click="remove(paper.id)">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<!--
{{> pagination }}
-->