<div class="btn-group add-btn">
  <button class="btn btn-primary btn-sm" data-keyboard="false" data-toggle="modal"
          data-target=".modal" data-action-url="/question/{{ setType }}/question/add"
          id="newQuestionBtn">
    添加 {{ setName }} 的题目
  </button>
</div>
<table class="table table-bordered data-list">
  <thead>
  <tr>
    <th data-sorter="false" class="seq-cell">序号</th>
    <th>题目</th>
    <th>选项</th>
    <th width="100px">答案</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody ng-repeat="(index, question) in questionList">
  <tr>
    <td>{{ index + 1 }}</td>
    <td>{{ question.body }}</td>
    <td>{{ question.choiceBody }}</td>
    <td>{{ question.answer }}</td>
    <td>
      <div class="btn-group">
        <a class="btn btn-default edit-question-set" data-toggle="modal" data-keyborad="false" title="编辑">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a title="删除" class="btn btn-default" href="/question/{{ question.ype }}/question/delete/{{ question.id }}">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>
    </td>
  </tr>
  </tbody>
</table>

 <!-- todo 分页
{{> pagination }}

<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h5 class="modal-title">题目</h5>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form" method="post" action="/question/{{ setType }}/question/add"
              id="editQuestionForm">
          <input type="text" hidden="hidden" class="input-small" name="type" value="{{ questionType }}"/>
          <input type="text" hidden="hidden" class="input-small" name="question_set_id" value="{{ question_set_id }}"/>

          <div class="form-group">
            <label for="input-body" class="col-sm-2 control-label">题目</label>

            <div class="col-sm-10">
              <input type="text" class="form-control" id="input-body" name="body">
            </div>
          </div>
          {{# t-or-f }}
          <div class="form-group">
            <label for="input-answer" class="col-sm-2 control-label">答案</label>
            {{# t-or-f }}
            <div class="col-sm-10">
              <label class="col-sm-3 radio-inline">
                <input type="radio" name="answer" id="input-answer" value="t">
                正确
              </label>
              <label class="col-sm-3 radio-inline">
                <input type="radio" name="answer" id="input-answer" value="f">
                错误
              </label>
            </div>
            {{/ t-or-f }}
            {{^ t-or-f }}
            <div class="col-sm-10">
              <input type="text" class="form-control" id="input-answer" name="answer">
            </div>
            {{/ t-or-f}}
          </div>
          {{/ t-or-f }}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="submit" class="btn btn-primary">保存</button>
      </div>
    </div>
  </div>
</div>
-->