<div class="btn-group add-btn">
  <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#question-set-list">
    添加选择题
  </button>
  <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#question-set-list">
    添加判断题
  </button>
  <!-- todo
    <ul class="dropdown-menu" role="menu">
      <li><a href="/question/get-question-set/{{ paperType }}/choice" data-remote="false" data-keyboard="false"
             data-toggle="modal" data-target="#question-set-list">选择题</a></li>
      <li><a href="/question/get-question-set/{{ paperType }}/t-or-f" data-remote="false" data-keyboard="false"
             data-toggle="modal" data-target="#question-set-list">判断题</a></li>
      <li><a href="/question/get-question-set/{{ paperType }}/short" data-remote="false" data-keyboard="false"
             data-toggle="modal" data-target="#question-set-list">简答题</a></li>
      <li><a href="/question/get-question-set/{{ paperType }}/long" data-remote="false" data-keyboard="false"
             data-toggle="modal" data-target="#question-set-list">问答题</a></li>
    </ul>
  -->
</div>

<table class="table table-bordered data-list">
  <thead>
  <tr>
    <th data-sorter="false" class="seq-cell">序号</th>
    <th class="hide">Id</th>
    <th>题目</th>
    <th>类型</th>
    <th>选项</th>
    <th>答案</th>
    <th data-sorter="false" width="240px">操作</th>
  </tr>
  </thead>
  <tbody ng-repeat="(index, question) in questionList">
  <tr>
    <td>{{ index + 1 }}</td>
    <td>{{ question.body }}</td>
    <td>{{ question.typeName }}</td>
    <td>{{ question.choiceBody }}</td>
    <td>{{ question.answer }}</td>
    <td>
      <a title="删除" class="btn btn-default" href="/question/paper/question/{{ paper.id }}/delete/{{ question.id }}">
        <i class="glyphicon glyphicon-trash"></i>
      </a>
    </td>
  </tr>
  </tbody>
</table>

<!-- todo 分页 -->

<div class="modal fade" id="question-set-list" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h5 class="modal-title">选择题库</h5>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="radio" ng-repeat="choiceSet in choiceSetList">
            <label class="radio-inline">
              <input type="radio" name="question-set" value="{{ choiceSet.id }}">{{ choiceSet.name }}
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary">确认</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="question-list" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h5 class="modal-title">添加试题</h5>
      </div>
      <div class="modal-body">
        <table class="table table-bordered ckb">
          <thead>
          <tr>
            <th data-sorter="false">
              <div class="checkbox">
                <label>
                  <input type="checkbox" data-value="all">
                </label>
              </div>
            </th>
            <th data-sorter="false" class="seq-cell">序号</th>
            <th>题目</th>
            <th>选项</th>
            <th>答案</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary"
                data-url="/question/{{ paperType }}/paper/edit/{{ paperId }}/question/add">确认
        </button>
      </div>
    </div>
  </div>
</div>
