<div class="btn-group add-btn">
  <button class="btn btn-primary btn-sm" ng-click="add()">添加{{ setName | translate }}题库</button>
</div>
<table class="table table-bordered data-list">
  <thead>
  <tr>
    <th data-sorter="false" class="seq-cell" width="64px">序号</th>
    <th>题库名称</th>
    <th width="100px">题目类型</th>
    <th width="100px">题目数量</th>
    <th width="100px">编订人</th>
    <th width="100px">更新日期</th>
    <th data-sorter="false" width="90px">操作</th>
  </tr>
  </thead>
  <tbody ng-repeat="(index, set) in setList">
  <tr>
    <td class="seq-cell">{{ index + 1 }}</td>
    <td class="question-set-name">{{ set.name }}</td>
    <td class="question-set-type">{{ set.type | translate }}</td>
    <td>{{ set.count }}</td>
    <td class="question-set-username">{{ set.username }}</td>
    <td>{{ set.udate }}</td>
    <td>
      <div class="btn-group">
        <!-- todo modal -->
        <a class="edit-question-set btn btn-default" title="编辑题库信息" data-toggle="modal" data-keyborad="false"
           data-remote="false" data-target=".modal" href="/question/{{ set.type }}/add/{{ set.id }}">
          <input hidden="hidden" value="{{ set.id }}"/>
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a title="编辑题目" class="btn btn-default" ng-click="edit(set.id)">
          <i class="glyphicon glyphicon-pencil"></i>
        </a>
        <a title="删除" class="btn btn-default" ng-click="remove(set.id)">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<!-- todo
{{> pagination }}
-->