<div class="modal-header dialog-header-confirm">
  <button type="button" class="close" ng-click="no()">×</button>
  <h4 class="modal-title ng-binding"><span class="glyphicon glyphicon-check"></span> 请确认</h4></div>
<div class="modal-body ng-binding">{{ message }}</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="yes()">确认</button>
  <button type="button" class="btn btn-default" ng-click="no()">取消</button>
</div>
<!-- http://codepen.io/m-e-conroy/pen/ALsdF -->