<br/>

<div class="alert alert-danger alert-dismissable col-md-6 col-md-offset-3">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <span>重置密码失败，请重新操作</span>
</div>
<br/>

<form class="form-horizontal col-md-6 col-md-offset-3" role="form"
      action="/account/recover-account" method="post">
  <div class="form-group">
    <label for="inputAccount" class="col-sm-3 control-label">帐号</label>

    <div class="col-sm-9">
      <input type="text" class="form-control" id="inputAccount" name="account">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword" class="col-sm-3 control-label">重置您的密码</label>

    <div class="col-sm-9">
      <input type="password" class="form-control" id="inputPassword" name="password_1">
    </div>
  </div>
  <div class="form-group">
    <label for="inputRepassword" class="col-sm-3 control-label">再次输入密码</label>

    <div class="col-sm-9">
      <input type="password" class="form-control" id="inputRepassword" name="password_2">
    </div>
  </div>
  <!--
  <div class="form-group">
      <label for="inputCaptcha" class="col-sm-3 control-label">验证码</label>
      <div class="col-sm-5">
          <input type="text" class="form-control" id="inputCaptcha" name="captcha">
      </div>
      <div class="col-md-4" style="padding-top: 2px;">
          <img src="http://placehold.it/100x30" alt="验证码" title="点击更换验证码"/>
      </div>
  </div>
  -->
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button type="submit" class="btn btn-default">确认</button>
    </div>
  </div>
</form>