<br/>
<div class="alert alert-danger alert-dismissable col-md-6 col-md-offset-3">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <span>密码错误，您可能 <a href="/account/recover" class="alert-link">忘记密码</a></span>
</div>

<br/>

<form class="form-horizontal col-md-6 col-md-offset-3" role="form"
      action="/account/check" method="post">
  <div class="form-group">
    <label for="inputAccount" class="col-sm-2 control-label">帐号</label>

    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputAccount" name="account">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword" class="col-sm-2 control-label">密码</label>

    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword" name="password">
    </div>
  </div>
  <div class="form-group">
    <label for="inputCaptcha" class="col-sm-2 control-label">验证码</label>

    <div class="col-sm-5">
      <input type="text" class="form-control" id="inputCaptcha" name="captcha">
    </div>
    <div class="col-md-5" style="padding-top: 2px;">
      <img src="http://placehold.it/100x30" alt="验证码" title="点击更换验证码"/>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <label class="radio-inline">
        <input type="radio" name="type" value="a" checked>
        管理帐号
      </label>
      <label class="radio-inline">
        <input type="radio" name="type" value="b">
        普通帐号
      </label>
      <label class="radio-inline">
        <input type="radio" name="type" value="c">
        在线考试
      </label>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox col-sm-5">
        <label>
          <input type="checkbox" checked>记住登录信息
        </label>
      </div>
      <div class="checkbox col-sm-5">
        <label>
          <a ng-href="/#/account/recover">忘记密码</a>
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="col-sm-5">
        <button type="submit" class="btn btn-primary">登录</button>
      </div>
      <div class="col-sm-5">
        <button type="button" class="btn btn-default">重置</button>
      </div>
    </div>
  </div>
</form>

